#root {
  --screen-padding: 10px;

  background: linear-gradient(#00f, #f00);
  background-attachment: fixed;
  color: white;

  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  padding: var(--screen-padding);
}

button {
  cursor: pointer;
  border: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 20px;
}

.button-link {
  text-decoration: none;
  display: block;
  padding: 0 4px;
  color: inherit;
  border: 1px solid #fff2;
  background: #fff1;
  cursor: pointer;

  &:hover {
    background: #fff3;
  }

  &.button-highlight {
    background: #0f05;
  }
}

.clipped-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  &::before {
    content: "â—";
    margin-right: 5px;
  }

  &.online::before {
    color: green;
  }

  &.offline::before {
    color: black;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  height: 100%;
  position: relative;
}

nav .button-link {
  padding: 5px;
}

.friend-overview {
  text-align: center;

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
    margin-block: 0 10px;
  }

  section {
    border-top: 1px solid white;
    margin-bottom: 30px;
    padding: 10px;
  }
}

.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;

  > li {
    width: 50ch;
    max-width: 100%;
    background: #0f03;
    padding: 5px;
    text-align: start;

    .name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 5px;
    }
  }
}

.button-bar {
  display: flex;
  align-items: center;
  column-gap: 5px;

  flex: none;

  button {
    padding: 0 4px;

    &:hover {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(0.7);
    }
  }
}

.confirmation-dialog {
  .name {
    font-weight: bold;
  }

  ul {
    display: flex;
    justify-content: center;
    column-gap: 20px;

    margin-top: 10px;

    button {
      font-size: 1.2em;
      background: #ddd;
      border: 1px solid grey;
    }
  }
}

.user-list {
  tbody {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr auto auto;
  }

  tr {
    display: contents;
  }

  tr:nth-child(2n + 1) td {
    background: #fff1;
  }

  td {
    padding-block: 10px;
    padding-inline: 5px;
  }
}

.room-info {
  padding-right: 10px;
}

.room-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid white;
  margin-bottom: 10px;

  p {
    font-size: 1.2em;
    font-weight: bold;
  }

  button {
    background: transparent;
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
    aspect-ratio: 1;

    &:hover {
      background: #fff2;
    }

    &:active {
      background: #fff3;
    }
  }
}

.group-create-date {
  margin-block: 10px;
}

section.member {
  & > p {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.member-list li {
  display: flex;
  column-gap: 4ch;
  justify-content: space-between;
  padding: 1px;

  &:first-child {
    background: #0f05;
  }
}

.chat-list {
  font-size: 1rem;
  color: #ccc;
  border: 1px solid white;
  overflow: auto;
  scroll-behavior: smooth;

  .button-link {
    padding: 10px;
    cursor: default;
    background: none;
    border: none;

    &:hover {
      background: #fff3;
    }

    &.button-highlight {
      background: #0f05;
    }
  }

  .chat-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;

    margin-bottom: 5px;

    & > p {
      font-size: 1.4em;
      color: white;
      font-weight: bold;
    }
  }
}

.chat-item-header-right {
  width: max-content;
  flex: none;

  display: flex;
  align-items: center;
  column-gap: 5px;

  button {
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;

    &:hover {
      filter: brightness(0.5);
    }
  }
}

.chat-item-content {
  display: flex;
  align-items: center;

  .chat-item-name {
    flex: none;
    max-width: 16ch;
  }

  .chat-item-separator {
    white-space: pre;
    font-weight: bold;
  }
}

.chat-item-menu {
  --edge-highlight: 2px solid yellow;

  position: absolute;
  width: max-content;
  padding-block: 5px;

  background-color: #222;
  border-top: var(--edge-highlight);

  &.bottom-edge {
    border-top: none;
    border-bottom: var(--edge-highlight);
  }

  button {
    background-color: inherit;
    color: white;
    padding: 5px 10px;
    width: 100%;
    text-align: start;

    &:hover {
      background-color: #333;
    }
  }
}

.room {
  display: flex;
  column-gap: 10px;

  flex: 1;

  /*Prevent child's overflow failure.
    When child has overflow in y, and it's height is determined by align stretch, and the parent's height is determined by column flex, and the parent has no height prop, the child suffers from overflow failure.
    The parent needs a height, min-height, or max-height prop set to some numerical value to prevent this failure.
    I don't know why flex behaves like this.
  */
  min-height: 0;

  > :first-child {
    --width: 40ch;

    box-sizing: border-box;
    width: var(--width);
    flex: none;

    border: none;
    border-right: 1px solid white;
  }

  .room-interface {
    flex: 1;

    /*Prevent child's overflow failure.
      When child has overflow in x, and it's width is determined by align stretch, and the parent's width is determined by row flex, and the parent has no width prop, the child suffers from overflow failure.
      The parent needs a width, min-width, or max-width prop set to some numerical value to prevent this failure.
      I don't know why flex behaves like this.
    */
    min-width: 0;
  }
}

.room-interface {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.room-header {
  background: transparent;
  color: inherit;
  text-align: center;

  &:hover {
    background: #fff2;
  }
  &:active {
    background: #fff3;
  }

  h1 {
    margin: 0;
    font-size: 1.6em;
  }

  p {
    font-size: 0.8em;
    color: #aaa;
  }
}

.message-list {
  display: flex;
  flex-direction: column;

  flex: 1;
  overflow: auto;
  scroll-behavior: smooth;

  /*create gap between scrollbar and contents*/
  padding-right: var(--screen-padding);

  & > * {
    overflow-anchor: none;
  }

  .anchor {
    overflow-anchor: auto;
    height: 1px;
    flex: none;
  }
}

.message-date {
  background: black;
  color: #999;

  max-width: max-content;
  padding: 5px 10px;
  margin-inline: auto;
  margin-block-start: 20px;

  border-radius: 10px;
}

.message-box {
  --min-width: 20ch;
  --margin-inline-large: 7ch;
  --margin-inline-small: 10px;
  --border-radius: 15px;
  --background: #111;
  --font-size: 1.2rem;

  background: var(--background);
  font-size: var(--font-size);

  max-width: max-content;
  min-width: var(--min-width);
  padding: 10px;
  margin-block-start: 7px;
  margin-inline: var(--margin-inline-small) var(--margin-inline-large);

  border-radius: var(--border-radius);
  border-top-left-radius: 0;

  position: relative;
  z-index: 0;

  &.user-owned {
    --background: #020;

    align-self: end;
    margin-inline: var(--margin-inline-large) var(--margin-inline-small);

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: 0;

    &::before {
      left: auto;
      right: calc(-1 * var(--arrow-width));
    }
  }

  &.joined-message {
    margin-block-start: 2px;
    border-radius: var(--border-radius);

    &::before {
      display: none;
    }
  }

  & > div {
    display: flex;
    column-gap: 0.8em;
    justify-content: space-between;
  }

  .message-sender {
    color: orange;
    margin-block-end: 5px;
  }

  .message-footer {
    color: #aaa;
    font-size: 0.8em;

    align-self: end;
    position: relative;
    top: 5px;
  }
}

.message-box::before {
  --arrow-width: 10px;

  content: "";
  display: block;
  position: absolute;
  z-index: -1;

  border-top: 7px solid var(--background);
  border-left: var(--arrow-width) solid transparent;
  border-right: var(--arrow-width) solid transparent;

  top: 0;
  left: calc(-1 * var(--arrow-width));
}

.messaging-form {
  display: flex;
  gap: 10px;

  font-size: 1.2em;

  input {
    background: #111;
    color: white;
    border: none;

    padding: 0.5em 1em;
    border-radius: 1em;
    flex: 1;
    min-width: 0;

    &:hover {
      filter: brightness(1.5);
    }

    &::placeholder {
      color: #aaa;
    }
  }

  button {
    background: #0f0;
    font-weight: bold;

    padding: 0.5em 1em;
    border-radius: 1em;

    &:hover {
      filter: brightness(0.7);
    }
  }
}
