#root {
  background: linear-gradient(#00f, #f00);
  background-attachment: fixed;
  color: white;

  box-sizing: border-box;
  height: 100vh;
  overflow: auto;

  --screen-padding: 10px;
  padding: var(--screen-padding);
}

button {
  cursor: pointer;
  border: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 20px;
}

.button-link {
  text-decoration: none;
  display: block;
  padding: 5px;
  color: inherit;
  border: 1px solid #fff2;
  background: #fff1;
  cursor: pointer;

  &:hover {
    background: #fff3;
  }

  &.button-highlight {
    background: #0f05;
  }
}

.clipped-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  height: 100%;
  position: relative;
}

.friend-overview {
  text-align: center;

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
    margin-block: 0 10px;
  }

  section {
    border-top: 1px solid white;
    margin-bottom: 30px;
    padding: 10px;
  }
}

ul.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;

  > li {
    width: 300px;
    max-width: 100%;
    background: #0f03;
    padding: 5px;
    text-align: start;

    .clipped-text {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.button-bar {
  display: flex;
  align-items: center;
  column-gap: 5px;

  button {
    &:hover {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(0.7);
    }
  }
}

.confirmation-dialog {
  .name {
    font-weight: bold;
  }

  ul {
    display: flex;
    justify-content: center;
    column-gap: 20px;

    margin-top: 10px;

    button {
      font-size: 1.2em;
      background: #ddd;
      border: 1px solid grey;
    }
  }
}

.user-list {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

    margin-block: 10px;
  }

  li:nth-child(2n + 1) {
    background: #fff1;
  }

  .items-array {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  button {
    &:hover {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(0.7);
    }
  }
}

.room-info {
  padding-right: 10px;
}

.room-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid white;
  margin-bottom: 10px;

  p {
    font-size: 1.2em;
    font-weight: bold;
  }

  button {
    background: transparent;
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
    aspect-ratio: 1;

    &:hover {
      background: #fff2;
    }

    &:active {
      background: #fff3;
    }
  }
}

.group-create-date {
  margin-block: 10px;
}

section.member {
  & > p {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.member-list li {
  display: flex;
  column-gap: 4ch;
  justify-content: space-between;
  padding: 1px;

  &:first-child {
    background: #0f05;
  }
}

.chat-list {
  color: #ccc;
  border: 1px solid white;
  overflow: auto;
  scroll-behavior: smooth;

  .button-link {
    padding: 10px;
    cursor: default;
    background: none;
    border: none;

    &:hover {
      background: #fff3;
    }

    &.button-highlight {
      background: #0f05;
    }
  }

  .chat-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;

    margin-bottom: 5px;

    & > p {
      font-size: 1.4em;
      color: white;
      font-weight: bold;
    }
  }
}

.chat-item-header-right {
  width: max-content;
  flex: none;

  display: flex;
  align-items: center;
  column-gap: 5px;

  button {
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;

    &:hover {
      filter: brightness(0.5);
    }
  }
}

.chat-item-content {
  display: flex;
  align-items: center;

  .chat-item-name {
    flex: none;
    max-width: 16ch;
  }

  .chat-item-separator {
    white-space: pre;
    font-weight: bold;
  }
}

.chat-item-menu {
  position: absolute;
  width: max-content;
  background-color: #222;
  padding-block: 5px;

  --edge-highlight: 2px solid yellow;
  border-top: var(--edge-highlight);

  &.bottom-edge {
    border-top: none;
    border-bottom: var(--edge-highlight);
  }

  button {
    background-color: inherit;
    color: white;
    padding: 5px 10px;
    width: 100%;
    text-align: start;

    &:hover {
      background-color: #333;
    }
  }
}

.room {
  display: flex;
  column-gap: 10px;

  flex: 1;

  /*Without this, it's height will overflow.
    I don't know why this happens.
    "flex: 1" should have been enough to set the height.
  */
  min-height: 0;

  > :first-child {
    box-sizing: border-box;
    width: 40ch;
    flex: none;

    border: none;
    border-right: 1px solid white;
  }

  .room-interface {
    flex: 1;
  }
}

.room-interface {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.room-header {
  background: transparent;
  color: inherit;
  text-align: center;

  &:hover {
    background: #fff2;
  }
  &:active {
    background: #fff3;
  }

  h1 {
    margin: 0;
    font-size: 1.6em;
  }

  p {
    font-size: 0.8em;
    color: #aaa;
  }
}

.message-list {
  display: flex;
  flex-direction: column;

  flex: 1;
  overflow: auto;
  scroll-behavior: smooth;

  /*create gap between scrollbar and contents*/
  padding-right: var(--screen-padding);

  & > * {
    overflow-anchor: none;
  }

  .anchor {
    overflow-anchor: auto;
    height: 1px;
    flex: none;
  }
}

.message-date {
  background: black;
  color: #999;

  max-width: max-content;
  padding: 5px 10px;
  margin-inline: auto;
  margin-block-start: 20px;

  border-radius: 10px;
}

.message-box {
  --background: #111;
  background: var(--background);
  font-size: 1.2em;

  max-width: max-content;
  min-width: 20ch;
  padding: 10px;
  margin-block-start: 7px;

  --margin-inline-small: 10px;
  --margin-inline-large: 70px;
  margin-inline: var(--margin-inline-small) var(--margin-inline-large);

  --border-radius: 15px;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;

  position: relative;
  z-index: 0;

  &.user-owned {
    align-self: end;
    --background: #020;
    margin-inline: var(--margin-inline-large) var(--margin-inline-small);

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: 0;

    &::before {
      left: auto;
      right: calc(-1 * var(--arrow-width));
    }
  }

  &.joined-message {
    margin-block-start: 2px;
    border-radius: var(--border-radius);

    &::before {
      display: none;
    }
  }

  & > div {
    display: flex;
    column-gap: 0.8em;
    justify-content: space-between;
  }

  .message-sender {
    color: orange;
    margin-block-end: 5px;
  }

  .message-footer {
    color: #aaa;
    font-size: 0.8em;

    align-self: end;
    position: relative;
    top: 5px;
  }
}

.message-box::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;

  --arrow-width: 10px;
  border-top: 7px solid var(--background);
  border-left: var(--arrow-width) solid transparent;
  border-right: var(--arrow-width) solid transparent;

  top: 0;
  left: calc(-1 * var(--arrow-width));
}

.messaging-form {
  display: flex;
  gap: 10px;

  font-size: 1.2em;

  input {
    background: #111;
    color: white;
    border: none;

    padding: 0.5em 1em;
    border-radius: 1em;
    flex: 1;

    &:hover {
      filter: brightness(1.5);
    }

    &::placeholder {
      color: #aaa;
    }
  }

  button {
    background: #0f0;
    font-weight: bold;

    padding: 0.5em 1em;
    border-radius: 1em;

    &:hover {
      filter: brightness(0.7);
    }
  }
}
