#root {
  --screen-padding: 10px;

  background: linear-gradient(#00f, #f00);
  background-attachment: fixed;
  color: white;
  word-break: break-word;

  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  padding: var(--screen-padding);
}

@keyframes blink {
  from {
    background: yellow;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 500ms;
}

@keyframes loading-ellipsis {
  from {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  to {
    content: "";
  }
}

.loading-ellipsis::after {
  content: "...";
  position: absolute;

  animation-name: loading-ellipsis;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h1 {
  font-size: 1.5em;
  margin-block: 0.5em;
}

h2 {
  font-size: 1.2em;
  margin: 0;
}

h3 {
  font-size: 1.1em;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: aqua;

  &:visited {
    color: #0a0;
  }

  &:active {
    color: red;
  }
}

td:empty {
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.5em 0.8em;

  &.clear-background {
    background: transparent;
    color: white;

    &:hover {
      filter: brightness(0.7);
    }
    &:active {
      filter: brightness(0.6);
    }
  }

  &.low-bright {
    background: #ddd;
    border: 1px solid grey;
  }

  &[type="submit"] {
    background: #0f0;
    color: black;
    font-weight: bold;

    &:hover {
      filter: brightness(0.6);
    }
    &:active {
      filter: brightness(0.5);
    }
  }

  &.hover-whitening {
    &:hover {
      filter: none;
      background: #fff2;
    }

    &:active {
      filter: none;
      background: #fff3;
    }
  }

  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(0.7);
  }
  &:disabled {
    filter: brightness(0.3);
    cursor: default;
  }
}

summary > * {
  display: inline-block;
}

.pre-wrap {
  white-space: pre-wrap;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.clipped-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marked-list {
  list-style-type: initial;

  li {
    margin-left: 2em;
    margin-block: 0.5em;
  }
}

.icon {
  line-height: 1;
  height: 1em;
  aspect-ratio: 1;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-link {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  color: inherit;
  border: 1px solid #fff2;
  background: #fff1;

  &:visited {
    color: inherit;
  }

  &:hover {
    background: #fff3;
  }

  &:active {
    background: none;
  }
}

.status {
  &::before {
    content: "â—";
    margin-right: 5px;
  }

  &.online::before {
    color: green;
  }

  &.offline::before {
    color: black;
  }
}

.private-link {
  background: #0f04;
}

.important-link {
  background: #f003;
}

.loading-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.load-fail-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.7em;
}

nav .button-bar {
  column-gap: 1.4em;
}

.error-page {
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  p {
    margin: 10px;
  }
}

.interface {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;

  height: 100%;

  .outlet {
    flex: 1;

    /*Prevent 'flex overflow failure'.
      When a container overflows, and it's overflow dimension is determined by it's parent(flex container), and the parent's same dimension is determined by the grandparent(flex/grid fr), overflow failure happens.
      The parent needs a dim(width/height), min-dim, or max-dim property set to some numerical value to prevent this failure.
      I don't know why flex behaves like this.
    */
    min-height: 0;

    overflow: auto;
    padding: 5px;

    .room {
      height: 100%;
    }
  }
}

.home {
  padding-right: 5px;

  > p {
    margin-block: 10px;
  }
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  form + ul {
    margin-top: 1.5em;

    li {
      font-size: 1.2em;
      margin: 5px;
    }
  }
}

.auth-page form {
  max-width: 100%;
  width: 50ch;

  > ul {
    font-size: 1.2em;

    > li {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      position: relative;
      margin-bottom: 1em;
    }
  }

  .form-hint li {
    margin-block: 0.2em;
  }

  label {
    font-weight: bold;
  }

  label::after {
    content: "";
    display: block;
    position: absolute;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  input {
    z-index: 0;
    padding: 0.5em;
  }

  label + button {
    padding: 0;

    position: absolute;
    top: 0;
    right: 0;
  }

  output {
    display: block;
    padding: 10px;
    background: #0003;
  }
}

.friend-overview {
  text-align: center;

  h2 {
    font-size: 1.3em;
    margin-block: 0 10px;
  }

  section {
    border-top: 1px solid white;
    margin-bottom: 30px;
    padding: 10px;
  }
}

.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;

  > li {
    width: 50ch;
    max-width: 100%;
    background: #0f03;
    padding: 5px;
    text-align: start;

    .name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 5px;
    }
  }
}

.confirmation-dialog {
  .name {
    font-weight: bold;
  }

  ul {
    display: flex;
    justify-content: center;
    column-gap: 2em;

    margin-top: 1em;

    button {
      font-size: 1.2em;
    }
  }
}

.list-page {
  > p {
    margin-bottom: 1em;
  }
}

.list-table {
  --background: #0005;

  width: 100%;

  tbody {
    display: grid;
    grid-auto-rows: 1fr;
  }

  tr {
    display: contents;
  }

  tr:nth-child(2n + 1) td {
    background: var(--background);
  }

  td {
    display: flex;
    align-items: center;

    padding: 0.4em;

    /*Prevent 'flex child overflow failure'.*/
    min-width: 0;
  }
}

//Change table layout to single column
@mixin narrow-list-table {
  tbody {
    grid-template-columns: 1fr;
  }

  tr {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;

    padding: 0.7em;
    border: 1px solid white;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid white;
    }

    /*Prevent 'flex overflow failure'.*/
    min-width: 0;
  }

  tr:nth-child(2n + 1) {
    background: var(--background);

    td {
      background: initial;
    }
  }

  td:empty {
    display: none;
  }

  td {
    padding: 0;
  }
}

.group-list {
  tbody {
    grid-template-columns: 1fr 1fr auto;
  }
}

.user-list {
  tbody {
    grid-template-columns: 2fr 3fr auto;
  }
}

.pending-member-list,
.rejected-member-list {
  tbody {
    grid-template-columns: 1fr auto auto;
  }
}

.narrow-width :is(.pending-member-list, .rejected-member-list) {
  @include narrow-list-table;
}

.member-list {
  tbody {
    grid-template-columns: 1fr auto auto;
  }

  tr:first-child td {
    background: #0f05;
  }
}

.narrow-width .member-list {
  @include narrow-list-table;

  tr:first-child {
    background: #0f05;
  }
}

.room-info {
  padding: 5px;
  padding-right: 10px;
  overflow: auto;

  section {
    margin-block: 20px;
  }

  h3 {
    margin-bottom: 5px;
  }
}

.room-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid white;
  margin-bottom: 10px;

  button.close {
    color: yellow;
    font-weight: bold;
    font-size: 2em;
  }
}

.chat-list {
  font-size: 1rem;
  color: #ccc;
  border: 1px solid white;
  padding: 5px;
  overflow: auto;

  .button-link {
    cursor: default;
    background: none;
    border: none;

    &:hover {
      background: #fff3;
    }

    &.highlight {
      background: #0f05;
    }
  }

  .chat-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;

    margin-bottom: 5px;

    & > p {
      font-size: 1.4em;
      color: white;
      font-weight: bold;
    }
  }
}

.chat-item-header-right {
  width: max-content;
  position: relative;
  flex: none;

  display: flex;
  align-items: center;
  column-gap: 5px;

  > button {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0;

    &:hover {
      filter: brightness(0.5);
    }
  }
}

.chat-item-content {
  display: flex;
  align-items: center;

  .chat-item-name {
    flex: none;
    max-width: 16ch;
  }

  .chat-item-separator {
    font-weight: bold;
  }
}

.chat-item-menu {
  --edge-highlight: 2px solid yellow;

  position: absolute;
  z-index: 1;

  /*Initial position to avoid auto overflow before the actual position is calculated.*/
  right: 0;
  bottom: 0;

  /*Starts off hidden so that it is displayed only after position is calculated */
  visibility: hidden;

  width: max-content;
  padding-block: 5px;

  background-color: #222;
  border-top: var(--edge-highlight);

  &.bottom-edge {
    border-top: none;
    border-bottom: var(--edge-highlight);
  }

  button {
    width: 100%;
    text-align: start;
  }
}

.room {
  display: flex;
  column-gap: 10px;

  > .narrow-width {
    --width: 40ch;

    box-sizing: border-box;
    font-size: 1rem;
    width: var(--width);
    flex: none;

    border: none;
    border-right: 1px solid white;
  }

  > .wide-width {
    flex: 1;

    /*Prevent 'flex overflow failure'.*/
    min-width: 0;
  }
}

.room-interface {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.room-header {
  padding-block: 0;
  text-align: center;

  h1 {
    margin: 0;
  }

  p {
    font-size: 0.8em;
    color: #aaa;
  }
}

.message-list {
  display: flex;
  flex-direction: column;

  flex: 1;
  overflow: auto;
  scroll-behavior: smooth;

  /*create gap between scrollbar and contents*/
  padding-right: 5px;

  & > * {
    overflow-anchor: none;
  }

  .anchor {
    overflow-anchor: auto;
    height: 1px;
    flex: none;
  }

  .no-message {
    color: #aaa;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.message-date {
  background: black;
  color: #999;

  max-width: max-content;
  padding: 5px 10px;
  margin-inline: auto;
  margin-block-start: 20px;

  border-radius: 10px;
}

.message-box {
  --min-width: 12ch;
  --margin-inline-large: 7ch;
  --margin-inline-small: 10px;
  --border-radius: 15px;
  --background: #111;
  --font-size: 1.2rem;

  background: var(--background);
  font-size: var(--font-size);

  box-sizing: border-box;
  max-width: max-content;
  min-width: var(--min-width);
  padding: 10px;
  margin-block-start: 7px;
  margin-inline: var(--margin-inline-small) var(--margin-inline-large);

  border-radius: var(--border-radius);
  border-top-left-radius: 0;

  position: relative;
  z-index: 0;

  &.user-owned {
    --background: #020;

    align-self: end;
    margin-inline: var(--margin-inline-large) var(--margin-inline-small);

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: 0;

    &::before {
      left: auto;
      right: calc(-1 * var(--arrow-width));
    }
  }

  &.joined-message {
    margin-block-start: 2px;
    border-radius: var(--border-radius);

    &::before {
      display: none;
    }
  }

  .message-sender {
    color: orange;
    margin-block-end: 5px;
  }

  .message-body {
    display: flex;
    column-gap: 0.5em;
    flex-wrap: wrap;

    .message-footer {
      color: #aaa;
      font-size: 0.8em;

      margin-left: auto;
      align-self: end;
      position: relative;
      top: 5px;
    }
  }
}

.message-box::before {
  --arrow-width: 10px;

  content: "";
  display: block;
  position: absolute;
  z-index: -1;

  border-top: 7px solid var(--background);
  border-left: var(--arrow-width) solid transparent;
  border-right: var(--arrow-width) solid transparent;

  top: 0;
  left: calc(-1 * var(--arrow-width));
}

.messaging-form {
  display: flex;
  gap: 1em;

  font-size: 1.2em;

  input {
    background: #111;
    color: white;
    border: none;

    padding: 0.5em 1em;
    border-radius: 1em;
    flex: 1;
    min-width: 0;

    &:hover {
      filter: brightness(1.5);
    }

    &::placeholder {
      color: #aaa;
    }
  }

  button {
    padding-inline: 1em;
    border-radius: 1em;
  }
}

/*Switch layout for .room when width decreases.
  Breakpoint is the sum of the width of all major fixed-width items, plus appropriate width for all major flexible-width items.
  Minor widths are ignored for simplicity.

  Breakpoint:
    + room-first-child-width
    + (appropriate-message-width + message-margin-inline-large) * message-font-size
*/
@media (max-width: calc(40ch + (40ch + 7ch) * 1.2)) {
  .room {
    > .low-priority-display {
      display: none;
    }
  }
}

/*Switch layout for user list table when width decreases.
  Breakpoint is an arbitrary value by approximate character counts.
  Value is to be changed, if the length of content changes.
*/
@media (max-width: 80ch) {
  .user-list table {
    @include narrow-list-table;
  }
}

//Switch layout for group list when width decreases.
@media (max-width: 70ch) {
  .group-list table {
    @include narrow-list-table;
  }
}

@media (prefers-reduced-motion) {
  .loading-ellipsis::after {
    animation-name: none;
  }
}
